.portal a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 2rem 0;
    padding: 3rem 0 0;
    border: 1px solid #171615;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.portal p {
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    padding: 1rem 1rem;
    color: white;
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / .2) 10%, hsl(0 0% 0% / 1));
}

.portal #link-1 {
    background-image: url("../source/images/paint-palate-612x612.jpg");
}

.portal #link-2 {
    background-image: url("../source/images/code.jpg");
}


/* @media screen and (min-width: 1024px) {

} */