.link-Container a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 2rem 0;
    padding: 2rem 0 0;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.7);
    border: 1px solid #171615;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.link-Container p {
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    padding: 10px;
    color: white;
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / .2) 10%, hsl(0 0% 0% / 1));
}

#link-1 {
    background-image: url("../source/images/Cube.webp");
}

#link-2 {
    background-image: url("../source/images/code.jpg");
}

#link-3 {
    padding: 0;
    text-align: center;
    color: white;
    background-color: rgb(40, 40, 40);
}

#link-3 p {
    padding: 2rem;
}

footer a {
    text-decoration: underline dotted 2px;
    color: white;
}

/* @media screen and (min-width: 1024px) {

} */