main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100ch, 100% - 2rem);
    min-height: 100vh;
    margin: 2rem 0;
    margin-inline: auto;
}

.profile-container {
    position: relative;
}

.roll {
    position: absolute;
    font-size: 1em;
    font-weight: 900;
    z-index: 3;
}

header {
    text-align: center;
}

/*  */
header .profile-photo,
header .ambient__container {
    display: block;
    max-width: 10rem;
    box-shadow: 0 0 100px rgb(255, 255, 255, .3);
    border-radius: 50%;
}

.about-wrapper {
    margin: 3rem 0;
}

/* @media screen and (min-width: 1024px) {

} */

@media screen and (max-width: 1024px) {
    .link-Container {
        width: 100dvw;
    }
}