:root {
  --neon-blue: rgb(98, 148, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-size: 1.125rem;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  /* background-color: rgb(30, 30, 30); */
}



main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100ch, 100% - 2rem);
  min-height: 100vh;
  margin: 2rem 0;
  margin-inline: auto;
}

.profile-container {
  position: relative;
}

.roll {
  font-size: 1em;
  position: absolute;

}



/*  */
.profile-photo {
  display: block;
  max-width: 10rem;
  border: 3px solid rgb(0, 81, 255);
  box-shadow: 0 0 13px 1px var(--neon-blue);
  border-radius: 50%;
}

.about-wrapper {
  margin: 3rem 0;
}



/* Loader */
#loader-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  transform: translate(-50%, -50%);
}

#loader {
  width: 0%;
  height: 100%;
  border-radius: inherit;
  background-color: #007bff;
  box-shadow: 0 0 13px 1px var(--neon-blue);
  transition: width 0.3s ease-in-out;
}

#loader-txt {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
}


.content {
  display: none;
}



/* Footer */
footer {
  padding: 5rem 1rem;
  background-color: rgb(15, 15, 15);
}


/* Media */
/* ===== */
/* @media screen and (min-width: 470px) {

} */

/* @media screen and (min-width: 1024px) {

} */