/* Portal nav */

aside #nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0%;
    right: -100%;
    height: calc(100dvh - 0%);
    width: 100%;
    z-index: 1;
    padding: 20px;
    border: 2px solid rgb(134, 130, 238);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    background-color: rgba(71, 71, 71, 0.976);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

aside #nav.active {
    right: 0%;
}



/* nav button */
aside #nav-toggle {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 1rem;
    z-index: 3;
    width: 4rem;
    height: 4rem;
    margin: 20px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4rem rgba(0 0 0 / 35%);
    outline: none;
    background-color: lightslategrey;

    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 5ms;
    transition-timing-function: ease;
    transition-duration: 5ms;

}

aside #nav-toggle .patty {
    margin: 5px auto;
    width: 25px;
    height: 3px;
    opacity: 1;
    background-color: #333;


    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 400ms;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

aside #nav-toggle:active {
    -webkit-transform: scale(0.80);
    transform: scale(0.80);
}

aside #nav-toggle.active .patty-wrapper .patty:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

aside #nav-toggle.active .patty-wrapper .patty:nth-child(2) {
    opacity: 0;
}

aside #nav-toggle.active .patty-wrapper .patty:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}





/* nav links */



/* Keyframe */
/* ======== */



/* Media */
@media screen and (min-width: 470px) {
    aside #nav {
        width: 25rem;
    }
}

@media screen and (min-width: 1400px) {
    aside #nav-toggle:hover .patty-wrapper .patty {
        opacity: 1;
    }

    aside #nav-toggle .patty-wrapper .patty {
        opacity: 0;
    }
}