:root {
    --link-border: white solid 1px;
}

/* Universal Nav Menu */
aside #universal_nav {
    position: fixed;
    right: -100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 1.5rem;
    width: 70%;
    height: 99%;
    background-color: #333;
    border: black solid 2px;
    border-radius: 5px;
    z-index: 1;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

aside #universal_nav.active {
    right: 0;
}

aside #universal_nav h1 {
    /* font-weight: lighter; */
    margin: 0;
}

aside a {
    margin-top: 1.5rem;
    font-size: 2.3rem;
    text-decoration: none;
    text-shadow: rgb(98, 148, 255) 1px 0 10px;
    border-top: var(--link-border);
    border-bottom: var(--link-border);
    color: rgb(0, 195, 255);
}

aside #quickAccess_Links a {
    font-size: 1.2rem;
}

aside #quickAccess_Links,
aside #links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Universal Nav button */
aside #univ_nav_button {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 4rem;
    height: 4rem;
    margin: 20px;
    margin-bottom: 3rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4rem rgba(0 0 0 / 35%);
    outline: none;
    background-color: lightslategrey;

    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 5ms;
    transition-timing-function: ease;
    transition-duration: 5ms;

}

aside #univ_nav_button .patty {
    margin: 5px auto;
    width: 25px;
    height: 3px;
    opacity: 1;
    background-color: #333;


    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 400ms;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

aside #univ_nav_button:active {
    -webkit-transform: scale(0.80);
    transform: scale(0.80);
}

aside #univ_nav_button.active .patty-wrapper .patty:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

aside #univ_nav_button.active .patty-wrapper .patty:nth-child(2) {
    opacity: 0;
}

aside #univ_nav_button.active .patty-wrapper .patty:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}




/* Media */
@media screen and (min-width: 470px) {
    aside #universal_nav {
        width: 20rem;
    }

}

@media screen and (min-width: 1400px) {
    aside #univ_nav_button:hover .patty-wrapper .patty {
        opacity: 1;
    }

    aside #univ_nav_button .patty-wrapper .patty {
        opacity: 0;
    }
}