section {
    display: flex;
    flex-direction: column;
    width: min(120ch, 100% - 0rem);
    margin-inline: auto;
    background-color: rgb(15, 15, 15);
}

section .title h2 {
    font-size: 30px;
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: #ffffff;
}

section .sorting {
    background-color: inherit;
}

section .sorting p {
    text-align: end;
    margin: 1rem 1rem;
    color: #fff;
}

.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
}

.gallery div.tiles {
    width: 100%;
    background-color: #494949;
    transition: .3s ease-in;
}

.gallery div.tiles img,
.gallery div.tiles video {
    display: block;
    width: max(10dvw, 100%);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.gallery div.tiles:hover {
    transform: scale(1.01);
    z-index: 1;
}

.loading {
    filter: blur(40px) grayscale(100%);
}

.loaded {
    filter: blur(0) grayscale(0);
    transition: 0.7s ease-in-out;
}

.modal {
    display: flex;
    flex-direction: column;
    /* Add this line to stack the image and info vertically */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.902);
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.modal-info {
    color: #fff;
    margin-top: 10px;
    /* Add some spacing between the image and info */
    white-space: pre-line;
    /* Allow line breaks in the info text */
}


p.disclaimer {
    margin: 5rem 0;
    color: white;
}

p.disclaimer .excli {
    font-size: 20px;
}


@media screen and (min-width: 700px) {

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

}

/* @media screen and (min-width: 1024px) {

} */