h1 {
    margin: 1rem 0 0 1rem;
    color: var(--clr-194);

}

form {
    padding: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 80vw;
    height: 40px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
select:focus {
    outline: none;
    border: 1px solid var(--clr-194);
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
}

input[type="submit"] {
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: var(--clr-194);
    color: var(--clr-765);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--clr-550);
}

label {
    display: block;
    margin: 0 10px 10px 0;
    font-weight: bold;
    font-size: 18px;
    color: var(--clr-194);
}

/* Webiste responsiveness */
/* Medium */
/* @media screen and (min-width: 430px) {} */

/* large */
@media screen and (min-width: 1024px) {

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
        width: 30vw;
    }

}