.portal .nav-links a#link-1 {
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    padding: 1rem;
    background: linear-gradient(to right, rgb(0, 96, 11), rgb(66, 152, 55), rgb(69, 48, 28), rgb(0, 96, 11));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */

    animation: background-pan 2s linear infinite;
}

.portal .nav-links a#link-1:hover {
    background: linear-gradient(to right, rgb(0, 0, 0), violet, pink, purple);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */

    animation: background-pan 2s linear infinite;
}

.portal .nav-links a#link-2 {
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    padding: 1rem;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0), rgb(255, 64, 0), rgb(255, 0, 0));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */

    animation: background-pan 2s linear infinite;
}

.portal .nav-links a#link-2:hover {
    background: linear-gradient(to right, rgb(0, 9, 128), rgb(238, 189, 130) rgb(255, 246, 192), rgb(0, 0, 0));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */

    animation: background-pan 2s linear infinite;
}

/* magical text */
@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}