@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.tilt {
    position: absolute;
    right: 0;
    bottom: -1rem;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#status {
    line-height: 30px;
    font-size: large;
    font-weight: 100;
    text-align: center;
    color: rgb(219, 216, 22);
    text-shadow: 1px 1px #0000008f;
}

.pop {
    animation: pop 0.58s infinite;
    -webkit-animation: pop 0.58s infinite;
}

@keyframes pop {
    from {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    to {
        transform: scale(0.95);
    }
}

@-webkit-keyframes pop {
    from {
        -webkit-transform: scale(0.95);
    }

    50% {
        -webkit-transform: scale(1);
    }

    to {
        -webkit-transform: scale(0.95);
    }
}